@model AspNetGame.Models.Game.NewPlanetModel
@{
    ViewBag.Title = "Create a new building";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("CreateNewBuilding", "UnitTemplate", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-8">
            <h3><i>&laquo; Welcome to the galaxy, <strong>@User.Identity.Name</strong> ! &raquo;</i></h3>

            <p>
                Glad to see your registration succeeded ! In <strong>Galaxy Game</strong>, the nickname that
                identifies you in game is different from your login name. Let's choose one now, then
                you're being able to name your first planet.
            </p>

            <table class="table specs input-group">
                <tr>
                    <td>Choose a nick name</td>
                    <td>@Html.TextBoxFor(m => m.Nickname, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>Choose a name for your planet</td>
                    <td>@Html.TextBoxFor(m => m.PlanetName, new { @class = "form-control" })</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-4">
            This is your new planet
            <img src="~/Content/Images/noimageavailable.png" class="unit-image" />
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Confirm" />

}